p {
    text-align: justify;
}

table {
    width: 100%;
    border: 3px solid #808080;
    border-collapse: collapse;
    margin-bottom: 3px;
    table-layout: fixed;
}

td.morado {
    text-align: left;
    vertical-align: middle;
    background-color: #CCCCFF;
    font-size: 9pt;
    font-weight: bold;
    height: 23px;
}

td.verde {
    height: 23px;
    text-align: center;
    vertical-align: middle;
    background-color: #CCFFCC;
    font-size: 7pt;
    font-weight: bold;
    border-top: 1px solid #808080;
    border-right: 1px solid #808080;
}

td.verde_left {
    height: 23px;
    text-align: left;
    vertical-align: middle;
    background-color: #CCFFCC;
    font-size: 7pt;
    font-weight: bold;
    border-top: 1px solid #808080;
    border-right: 1px solid #808080;
}

td.verde_normal {
    height: 23px;
    text-align: center;
    vertical-align: middle;
    background-color: #CCFFCC;
    font-size: 7pt;
    border-top: 1px solid #808080;
    border-right: 1px solid #808080;
}

td.cyan_left {
    text-align: left;
    vertical-align: middle;
    background: #CCFFFF;
    font-size: 5pt;
    border-top: 1px solid #808080;
    border-right: 1px solid #808080;
}

td.cyan_vert {
    height: 20px;
    vertical-align: middle;
    background: #CCFFFF;
    font-size: 5pt;
    border-top: 1px solid #808080;
    border-right: 1px solid #808080;
    writing-mode: vertical-rl;
}

td.blanco {
    border-top: 1px solid #808080;
    border-right: 1px solid #808080;
    height: 21px;
    text-align: center;
    vertical-align: middle;
    font-size: 7pt;
}

td.blanco_break {
    border-left: 3px solid #808080;
    border-right: 3px solid #808080;
    height: 21px;
    text-align: center;
    vertical-align: middle;
    font-size: 7pt;
}

td.blanco_left {
    border-top: 1px solid #808080;
    border-right: 1px solid #808080;
    height: 21px;
    text-align: left;
    vertical-align: middle;
    font-size: 7pt;
}

td.blanco_left_mini {
    border-top: 1px solid #808080;
    border-right: 1px solid #808080;
    height: 11px;
    text-align: left;
    vertical-align: middle;
    font-size: 6pt;
}

td.blanco_left_remini {
    border-top: 1px solid #808080;
    border-right: 1px solid #808080;
    height: 5px;
    text-align: left;
    vertical-align: middle;
    font-size: 6pt;
}

td.blanco_left_remini_post {
    border-top: 1px solid #808080;
    border-right: 1px solid #808080;
    height: 10px;
    text-align: left;
    vertical-align: middle;
    font-size: 6pt;
}

td.moradopro {
    text-align: left;
    vertical-align: middle;
    background-color: #CCCCFF;
    font-size: 9pt;
    font-weight: bold;
    height: 18px;
}

td.verdepro {
    height: 18px;
    text-align: center;
    vertical-align: middle;
    background-color: #CCFFCC;
    font-size: 7pt;
    font-weight: bold;
    border-top: 1px solid #808080;
    border-right: 1px solid #808080;
}

td.verde_leftpro {
    height: 18px;
    text-align: left;
    vertical-align: middle;
    background-color: #CCFFCC;
    font-size: 7pt;
    font-weight: bold;
    border-top: 1px solid #808080;
    border-right: 1px solid #808080;
}

td.verde_normalpro {
    height: 18px;
    text-align: center;
    vertical-align: middle;
    background-color: #CCFFCC;
    font-size: 7pt;
    border-top: 1px solid #808080;
    border-right: 1px solid #808080;
}

td.blancopro {
    border-top: 1px solid #808080;
    border-right: 1px solid #808080;
    height: 18px;
    text-align: center;
    vertical-align: middle;
    font-size: 7pt;
}

td.blanco_breakpro {
    border-left: 3px solid #808080;
    border-right: 3px solid #808080;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    font-size: 7pt;
}

td.blanco_leftpro {
    border-top: 1px solid #808080;
    border-right: 1px solid #808080;
    height: 18px;
    text-align: left;
    vertical-align: middle;
    font-size: 7pt;
}
td.morado_landscape {
    text-align: left;
    vertical-align: middle;
    background-color: #CCCCFF;
    font-size: 6pt;
    font-weight: bold;
}

td.verde_landscape {
    text-align: center;
    vertical-align: middle;
    background-color: #CCFFCC;
    font-size: 5pt;
    border-top: 1px solid #808080;
    border-right: 1px solid #808080;
}

td.verde_left_landscape {
    text-align: left;
    vertical-align: middle;
    background-color: #CCFFCC;
    font-size: 5pt;
    border-top: 1px solid #808080;
    border-right: 1px solid #808080;
}

td.blanco_landscape {
    border-top: 1px solid #808080;
    border-right: 1px solid #808080;
    text-align: center;
    vertical-align: middle;
    font-size: 5pt;
}

td.blanco_break_landscape {
    border-left: 3px solid #808080;
    border-right: 3px solid #808080;
    height: 21px;
    text-align: center;
    vertical-align: middle;
    font-size: 5pt;
}

td.blanco_left_landscape {
    border-top: 1px solid #808080;
    border-right: 1px solid #808080;
    text-align: left;
    vertical-align: middle;
    font-size: 5pt;
}
